.character__card {
  background-color: #35adc5;
  color: white;
  text-decoration: none;
  max-width: 300px;
  .character__data {
    padding: 10px;
    text-align: left;
    .card__name, .character__species{
      margin: 0;
    }
    .card__name {
      font-size: 18px;
      margin-bottom: 5px;
    }
  }
}