.character__list {
  list-style: none;
  margin: 0;
  padding: 40px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px 10px;
  justify-items: center;
  
  @media all and (min-width: 780px) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media all and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.character__link {
  text-decoration: none;
}
.loading__text, .no-results__text {
  color: white;
}
.no-results__image {
  width: 300px;
}
.fa-heart {
  color: white;
  font-size: 28px;
  text-align: right;
}
.red {
  background-color: red;
}

