.page__filters {
  text-align: center;
}
.finder__input {
  background-color: black;
  border: 2px solid #35adc5;
  color: white;
  font-size: 14px;
  padding: 10px;
  
  @media all and (min-width: 780px) {
    width: 500px;
  }
}