.page__filters {
  text-align: center;
  color: white;
}
.finder__input {
  background-color: black;
  color: white;
  border: 2px solid #35adc5;
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  
  @media all and (min-width: 780px) {
    width: 500px;
  }
}
.radio {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.episodes__label {
  margin-right: 10px;
}
.checkbox-locations {
  margin-right: 10px;
}